@model WebApp.Models.TelaUnidadeModel

<div class="form-group col-md-4">
    @Html.LabelFor(model => model.contatos[1].idTipoContato, htmlAttributes: new { @class = "control-label" })
    @Html.DropDownListFor(model => model.contatos[1].idTipoContato, new SelectList(Model.listaTiposContato, "id", "descricao", "quantidadeDigitos"), "Selecione um Tipo", new { @class = "form-control", })
    @Html.ValidationMessageFor(model => model.contatos[1].idTipoContato, "", new { @class = "text-danger" })
</div>
<div class="form-group col-md-8">
    @Html.LabelFor(model => model.contatos[1].telefone, htmlAttributes: new { @class = "control-label" })
    @Html.EditorFor(model => model.contatos[1].telefone, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.contatos[1].telefone, "", new { @class = "text-danger" })
</div>