@model OrganogramaApp.Apresentacao.ViewModel.UnidadeInsercaoViewModel
@{
    ViewBag.Title = "Unidade";
    ViewBag.SubTitle = "Cadastrar Unidade";
}
<section class="content-header">
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> MENU PRINCIPAL</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>
<div class="col-lg-12 col-md-12 col-xs-12">
</div>

<!-- Main content -->
<section id="content" class="content">
    <div class="row">
        <div id="formCadastroUnidade" class="col-lg-12 col-md-12 col-xs-12">
            @using (Ajax.BeginForm("Create", "Unidade",
                                            new AjaxOptions
                                            {
                                                HttpMethod = "POST"
                                                ,
                                                InsertionMode = InsertionMode.Replace
                                                ,
                                                UpdateTargetId = "formcadastrounidade"
                                                ,
                                                OnSuccess = "onSuccessUnidades"
                                            },
                                            new { @id = "formCadastrarUnidade" }))
            {
                @*<form id="formCadastrarUnidade" method="post">*@
                <!--Início do TABS-->
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1" title="Dados Gerais" data-toggle="tab" aria-expanded="false"><h4><i class="fa fa-file-text-o"></i> Dados Gerais</h4></a></li>
                        <li class=""><a href="#tab_2" title="Endereço" data-toggle="tab" aria-expanded="false"><h4><i class="fa fa-map-marker" aria-hidden="true"></i> Endereço</h4></a></li>
                        <li class=""><a href="#tab_3" title="Telefone" data-toggle="tab" aria-expanded="false"><h4><i class="fa fa-phone" aria-hidden="true"></i> Telefone</h4></a></li>
                        <li class=""><a href="#tab_4" title="E-mail" data-toggle="tab" aria-expanded="false"><h4><i class="fa fa-envelope-o" aria-hidden="true"></i> E-mail</h4></a></li>
                        <li class=""><a href="#tab_5" title="Site" data-toggle="tab" aria-expanded="false"><h4><i class="fa fa-globe" aria-hidden="true"></i> Site</h4></a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <h4>Dados Gerais</h4>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.GuidOrganizacao)
                            <div class="form-group">
                                @Html.LabelFor(model => model.SiglaNomeOrganizacao, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => Model.SiglaNomeOrganizacao, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Sigla, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Sigla, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                @Html.ValidationMessageFor(model => model.Sigla, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.IdTipoUnidade, htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(m => m.IdTipoUnidade, new SelectList(Model.TiposUnidade, "Id", "Descricao"), "Selecione um Tipo de Unidade", new { @class = "form-control", required = "required" })
                                @Html.ValidationMessageFor(model => model.IdTipoUnidade, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.GuidUnidadePai, htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(m => m.GuidUnidadePai, new SelectList(Model.UnidadesPai, "Guid", "SiglaNome"), "Selecione uma Unidade", new { @class = "form-control", })
                                @Html.ValidationMessageFor(model => model.GuidUnidadePai, "", new { @class = "text-danger" })
                            </div>
                            <div class="box-footer">
                                <ul class="list-inline pull-right">
                                    <li><a href="#tab_2" class="btn btn-primary pull-right next-step" data-toggle="tab">Próximo <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_2">
                            <h4>Endereço</h4>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Endereco.Logradouro, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Endereco.Logradouro, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Endereco.Logradouro, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Endereco.Numero, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Endereco.Numero, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Endereco.Numero, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Endereco.Complemento, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Endereco.Complemento, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Endereco.Complemento, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Endereco.Bairro, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Endereco.Bairro, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Endereco.Bairro, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Endereco.Cep, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Endereco.Cep, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Endereco.Cep, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Endereco.Estados, htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownList("siglaEstado", new SelectList(Model.Endereco.Estados, "Sigla", "Nome"), "Selecione um Estado", new { @class = "form-control", @id = "siglaEstado" })
                                @Html.ValidationMessageFor(model => model.Endereco.Estados, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Endereco.GuidMunicipio, htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(m => m.Endereco.GuidMunicipio, new SelectList(Model.Endereco.Municipios, "Guid", "Nome"), "Selecione um Município", new { @class = "form-control", })
                                @Html.ValidationMessageFor(model => model.Endereco.GuidMunicipio, "", new { @class = "text-danger" })
                            </div>
                            <div class="box-footer">
                                <ul class="list-inline pull-right">
                                    <li><a href="#tab_1" class="btn btn-default pull-right prev-step" data-toggle="tab"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Anterior</a></li>
                                    <li><a href="#tab_3" class="btn btn-primary pull-right next-step" data-toggle="tab">Próximo <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_3">
                            <div class="box-body" id="campotelefone">
                                <div class="form-group text-right">
                                    <button type="button" data-value="0" class="btn btn-sm btn-info" id="addCampoTelefone"><i class="fa fa-plus" aria-hidden="true"></i> Telefone</button>
                                </div>
                                @*<div class="form-group col-md-4">
                                    @Html.LabelFor(model => model.Contatos[0].IdTipoContato, htmlAttributes: new { @class = "control-label" })
                                    @Html.DropDownListFor(m => m.Contatos[0].IdTipoContato, new SelectList(Model.Contatos[0].TiposContato, "Id", "Descricao"), "Selecione um Tipo", new { @class = "form-control", })
                                    @Html.ValidationMessageFor(model => model.Contatos[0].IdTipoContato, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-8">
                                    @Html.LabelFor(model => model.Contatos[0].Telefone, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Contatos[0].Telefone, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Contatos[0].Telefone, "", new { @class = "text-danger" })
                                </div>*@
                            </div>
                            <div class="box-footer">
                                <ul class="list-inline pull-right">
                                    <li><a href="#tab_2" class="btn btn-default pull-right prev-step" data-toggle="tab"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Anterior</a></li>
                                    <li><a href="#tab_4" class="btn btn-primary pull-right next-step" data-toggle="tab">Próximo <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_4">
                            <div class="box-body" id="campoemail">
                                <div class="form-group text-right">
                                    <button type="button" data-value="0" class="btn btn-sm btn-info" id="addCampoEmail"><i class="fa fa-plus" aria-hidden="true"></i> E-mail</button>
                                </div>
                                @*<div class="form-group">
                                    @Html.LabelFor(model => model.Emails[0].Endereco, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Emails[0].Endereco, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Emails[0].Endereco, "", new { @class = "text-danger" })
                                </div>*@
                            </div>
                            <div class="box-footer">
                                <ul class="list-inline pull-right">
                                    <li><a href="#tab_3" class="btn btn-default pull-right prev-step" data-toggle="tab"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Anterior</a></li>
                                    <li><a href="#tab_5" class="btn btn-primary pull-right next-step" data-toggle="tab">Próximo <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_5">
                            <div class="box-body" id="camposite">
                                <div class="form-group text-right">
                                    <button type="button" data-value="0" class="btn btn-sm btn-info" id="addCampoSite"><i class="fa fa-plus" aria-hidden="true"></i> Url</button>
                                </div>
                                @*<div class="form-group">
                                    @Html.LabelFor(model => model.Sites[0].Url, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Sites[0].Url, new { htmlAttributes = new { @class = "form-control", @name = "sites[0}.url" } })
                                    @Html.ValidationMessageFor(model => model.Sites[0].Url, "", new { @class = "text-danger" })
                                </div>*@
                            </div>
                            <div class="box-footer">
                                <ul class="list-inline pull-right">
                                    <li><a href="#tab_4" class="btn btn-default prev-step" data-toggle="tab"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Anterior</a></li>
                                    <li><button type="submit" class="btn btn-danger"><i class="fa fa-save"></i> Cadastrar</button></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @*</form>*@
        </div>
    </div>
</section>
@section scripts{
    <script src="~/js/unidade.js"></script>
}