@model IEnumerable<OrganogramaApp.Apresentacao.ViewModel.UnidadeListagemViewModel>

@{    
    ViewBag.SubTitle = "Unidades da Organização ";
}

<div class="box box-info">
    <!-- /.box-header -->
    <div class="box-header with-border">
        <h3 class="box-title">@ViewBag.SubTitle</h3>

        <div class="pull-right box-tools">
            <a href="@Url.Action("Cadastrar","Unidade", new {guidOrganizacao = ViewData["GuidOrganizacao"] })" class="btn btn-info btn-sm" data-toggle="tooltip" title="Cadastrar Unidade.">
                <i class="fa fa-plus"></i> Novo
            </a>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsive">
        <table id="tabelaUnidades" class="table table-condensed table-striped table-bordered">
            <thead>
                <tr>
                    <th class="col-xs-4">@Html.DisplayNameFor(model => model.Nome)</th>
                    <th class="col-xs-2">@Html.DisplayNameFor(model => model.Sigla)</th>
                    <th class="col-xs-2">@Html.DisplayNameFor(model => model.Tipo)</th> 
                    <th class="col-xs-2">@Html.DisplayNameFor(model => model.UnidadePai)</th> 
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sigla)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tipo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UnidadePai)
                        </td>
                        <td>
                            @*<a href="@Url.Action("Editar","Unidade",new { guid = item.Guid })" data-evento="2" class="btn btn-xs btn-primary btnModalUnidade" data-toggle="tooltip" title="Editar Unidade"><i class="fa fa-edit" aria-hidden="true"></i></a>*@
                            <a href="@Url.Action("Visualizar","Unidade",new { guid = item.Guid })" data-evento="4" class="btn btn-xs btn-success btnModalUnidade" data-toggle="tooltip" title="Visualizar Unidade"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a href="@Url.Action("Excluir","Unidade",new { guid = item.Guid })" data-evento="3" class="btn btn-xs btn-danger btnModalUnidade" data-toggle="tooltip" title="Excluir Unidade"><i class="fa fa-close" aria-hidden="true"></i></a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

